
.container {
  padding: 2px;
}


.slider::-webkit-scrollbar {
	display: none;
}
.slider .card {
  flex: 1 0 100%;
  scroll-snap-align: center;
  position: relative;
}
.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.45rem;
  height: 0.45rem;
  border-radius: 50%;
  background-color: #ffa3a3c7;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out, background-color 0.1s ease-in-out;
}

  .slider-nav a:hover {
  opacity: 1;
  background-color: rgb(37, 35, 35);
}
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 5rem;
}