p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-style: italic;
    font-weight: normal;
    color: rgb(50, 38, 18);
  }

  .hospital {
    width: 1010px;
    height: 500px;
  }
  body , frame {
    background-color: rgb(225, 215, 192);
  }
  li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-style: italic;
    font-weight: bold;
    color: rgb(50, 38, 18);
  }
  .doctor {
    width: 1010px;
    height: 500px;
  }
  li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-style: italic;
    font-weight: normal;
    color: rgb(50, 38, 18);
  }
  .facilities {
    width: 1010px;
    height: 500px;
  }
  h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgb(50, 38, 18);
    display: block;
    font-size: 2em;
    margin-top: 1.5em;
    margin-bottom: 0;
    margin-left: 300px;
    margin-right: 646px;
    font-weight: bolder;
    padding-left: 0px;
  }
  h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-style: italic;
    font-weight: bold;
    color: rgb(50, 38, 18);
  }
 
  .receptionist {
    width: 1010px;
    height: 500px;
  }

  .img {
    width: 1020px;
    height: 563px;
  }

  .head {
    background-image: url("images/head.png")
  }  

  li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-style: italic;
    font-weight: normal;
    color: rgb(50, 38, 18);
  }
  .services {
    width: 1010px;
    height: 500px;
  }

  button {
    background-color: rgb(50, 38, 18);
    color: white;
        border: none;
        height: 36px;
        width: 200px;
        border-radius: 18px;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
        transition: box-shadow 0.15s;
   }
  button:hover {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  }
  button:focus {
    background-color: white;
    color: rgb(50, 38, 18);
  }
  button:active {
        opacity: 0.7;
    }
  .logo {
    padding-top: 20px;
    width: 200px;
    height: 150px;
    font-weight: bolder;
  }

